<a href="https://colab.research.google.com/github/akshay-c-code/LEARN.PY/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [1]:
#please enter your answer below this line
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

2. Write a program to print this pattern

           #
          ## 
         ###

In [3]:
#please enter your answer below this line
def pypart2(n):
 
    k = 2*n - 2
 
    for i in range(0, n):
 
        for j in range(0, k):
 
            print(end=" ")
 
        k = k - 2
 
        for j in range(0, i+1):
 
            print("# ", end="")
 
        print("\r")
 
n = 3
pypart2(n)

    #
  # #
# # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [4]:
#please enter your answer below this line
fruits = ["apple","orange","apple","banana"]
for i,item in enumerate (fruits):
 if item == "apple":
  fruits[i]="grapes"
print(fruits)

['grapes', 'orange', 'grapes', 'banana']